{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr; 
    }
</style>

<h1>Home Template</h1>

<div class="home-container">
    <div>
        <h3>Browse Topics</h3>
        <div>
         <a href="{% url 'home' %}">All</a>
        </div>
        <ul>
            {% for topic in topics %}
                <li><a href="{% url 'home' %}?q={{topic.name}}">{{ topic.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div>
    <a href="{% url 'create_room' %}">Create Room</a>
    <div>
        <h5>{{ rooms_count }} Rooms available</h5>
        {% for room in rooms %}
        <div>
            {% if request.user == room.user %}
            <a href="{% url 'update_room' room.id %}" >Update</a>
            <a href="{% url 'delete_room' room.id %}">DELETE</a>
            {% endif %}
            <a href="{% url 'room' room.id %}">
                <h2>{{ room.name }}</h2>
            </a>
            <span>@{{ room.user.username }}</span>
            <p>{{ room.topic.name }}</p>
    
        </div>
        {% endfor %}
    </div>
    </div>
</div>

{% endblock content %}